body{

	font-family: century Gothic;
	min-height: 100vh;
	background-color: #f3f3f3;
}

.nav-link:hover{
        animation: swing 1s ease;
        animation-iteration-count: 1;}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.box{
	margin: 0;
	padding: 0;
	padding-top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width:100%;


}
.box h1{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	width: 50%;
	text-align: center;
	font-size: 8em;
	text-transform: uppercase;
	text-shadow: 0 5px 15px rgba(0,0,0,.2);

}

.box h1:nth-child(2){
	background: #f3f3f3;
	color:#fff;
	overflow: hidden;
	z-index: 2;
	clip-path: polygon(100% 0, 0 0, 0 100%);
	transition: clip-path 1s;
	animation: circle 2s infinite;
  

}
/* Another idea
.box h1:nth-child(2):hover{
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.box h1:nth-child(1):hover ~ h1{
clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);


}
*/

@keyframes circle {
  0% { clip-path: circle(100%); }
  100% { clip-path: circle(0%); }
}

.mediaflex li{
	display: inline-block;
	align-items: center;
}



.mediaflex li {
  list-style: none;
  margin-right: 2%;
}

.mediaflex li a {
  position: relative;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.mediaflex li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

.mediaflex li a .fab {
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  font-size:24px;
  color: #262626;
  transition: .5s;
}

.mediaflex li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.mediaflex li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.mediaflex li:nth-child(3) a:hover .fab {
color: #dd4b39;
}

.mediaflex li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.mediaflex li:nth-child(5) a:hover .fab {
  color: #e4405f;
}


@media only screen and (max-width:800px) {
  /* For tablets: */
   #effectan {
   font-size:5vw;

  }
   #menu{
    
    font-size: 13px;
    height: 10vh;
  }
  .nav-link{
    display: inline;

  }


}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  #effectan {
   font-size:5vw;
  }
  #menu{
    
    font-size: 13px;
    height: 10vh;
  }
  .nav-link{
    display: inline;
  }

}

/* desktop */ 

/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{   
  #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 16px;
    height: 10vh;
  }
  .nav-link{
    display: inline;
  }

}  


/* For 1366 Resolution */  
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  
{   #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 16px;
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }

}  

  @media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)  
{ 

 #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 16px;
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }

}  

/* Ipad */ 
@media only screen   
and (orientation : landscape)   
and (-webkit-min-device-pixel-ratio: 1)  
and (min-device-width : 768px)   
and (max-device-width : 1007px)   
{
  #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 14px;
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }

}  

/* Orientation : Portrait */  
@media only screen   
and (orientation : portrait)   
and (-webkit-min-device-pixel-ratio: 1)   
and (min-device-width : 768px)   
and (max-device-width : 1007px)  
{ 
  #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 14px;
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }

}


/* 
   Desktops
1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
 #effectan {
   font-size:7vw;
  }

  
}

/* 
  Laptops, Desktops

*/

@media (min-width: 1025px) and (max-width: 1280px) {
   #effectan {
   font-size:5vw;
  }
    #menu{
    
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }

  
}

/* 
 Tablets, Ipads (portrait)

*/

@media (min-width: 768px) and (max-width: 1024px) {
  
 #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 14px;
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }

}

/* 
  Tablets, Ipads (landscape)
x
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
   #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 14px;
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }

  
}

/* 
 Low Resolution Tablets, Mobiles (Landscape)
  
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 13px;
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }

  
}

/* 
 Most of the Smartphones Mobiles (Portrait)
 
*/

@media (min-width: 320px) and (max-width: 480px) {
 #effectan {
   font-size:5vw;
  }
    #menu{
    
    font-size: 13px;
    height: 10vh;
  }
  .nav-link{
    display: inline;


  }
#mobile{
  display:inline-block;
  font-size: 13px;
}
  
}

#aboutme, #projects{
  opacity: 0;
}



